**/bin/
**/obj/
**/*.dll
**/*.pdb
**/*.exe

**/appsettings.json
**/appsettings.*.json
!**/appsettings.Example.json

.vs/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.user
*.suo
*.userosscache
*.sln.docstates

**/node_modules/
**/dist/
**/dist-ssr/
**/*.local

*.log
TestResults/
.DS_Store
